# Ignore all, but scan all directories
*
!*/

# Ignore IDE and vendor directories
.idea
vendor

# Include other .gitignore files
!.gitignore

# Include all source files
!*.php
!.env.example
!composer.json
!composer.lock
!docker-compose.yml
!.gitlab-ci.yml
!*.md
!yii
